.lbe-modal-content {
  padding: 0 !important;
}
.lbe-choose-list {
  position: relative;
}

.lbe-choose-list .ajax-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.lbe-choose-list-link {
  display: block;
  padding: 1rem;
}

.lbe-choose-list-link:hover {
  background: #eee;
}

.lbe-choose-list-link:not(:last-child) {
  border-bottom: 1px solid #ddd;
}

.lbe-choose-list-item {
  display: flex;
  align-items: center;
}

.lbe-choose-list-item-content {
  flex: 1;
}

.lbe-choose-list-item-icon {
  width: 10rem;
  flex: 0 0 10rem;
  min-width: 0;
  height: 6rem;
  display: flex;
  float: left;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  background: white;
  padding: 0.5rem;
  border: 1px solid #dadada;
}

.lbe-choose-list-item-icon img {
  width: 100%;
  max-height: 100%;
}

.lbe-choose-list-item h3 {
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1;
}

.lbe-choose-list-item p {
  font-size: 0.9rem;
}
