{#
/**
* @file
* Default theme implementation to display a the item list.
*/
#}
{{ attach_library('layout_builder_experience/base') }}

<div class="lbe-choose-list">
  <div class="lbe-choose-list-items">
    {{ items }}
  </div>
  <div class="lbe-choose-list-actions">
    {{ see_more }}
  </div>
</div>
