{#
/**
* @file
* Render a choose item.
*/
#}

<div class="lbe-choose-list-item">
  <div class="lbe-choose-list-item-icon">
    {{ icon }}
  </div>
  <div class="lbe-choose-list-item-content">
    <h3>{{ label }}</h3>
    <p>{{ description }}</p>
  </div>
</div>
